
.carousel-item
h3{

   background-color:gray;



}

.navbar-brand
img{

    width:60px;

    height:
70px;

}

.carousel-item
h5{

    color:
yellow;

}

.fa{

    font-size:
10em;

   /* padding: 5px;*/

}

.a{

    font-size:
40px
!important;

    color:
blue;

}

.t{

    font-size:
40px
!important;

    color:
blue;

}

.i{

    font-size:
40px
!important;

    color:
red;

}

.l{

    font-size:
40px
!important;

    color:
blue;

}



footer{

    background-color:
black;

}

.a1
h5{

    color:whitesmoke;

}

footer
p{

    font-size:
14px;

}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
 }
 .map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
 
 }
 .map-title {
     font-family: "Aguafina Script", cursive;
     color: blueviolet;
     font-size: 20px;
 }

 .btn {
    text-align: center;
 }