
.carousel-item
h3{

   background-color:
yellow;



}

.navbar-brand
img{

    width:60px;

    height:
70px;

}

.carousel-item
h5{

    color:
yellow;

}

.fa{

    font-size:
10em;

   /* padding: 5px;*/

}

.a{

    font-size:
40px
!important;

    color:
blue;

}

.t{

    font-size:
40px
!important;

    color:
blue;

}

.i{

    font-size:
40px
!important;

    color:
red;

}

.l{

    font-size:
40px
!important;

    color:
blue;

}



footer{

    background-color:
black;

}

.a1
h5{

    color:whitesmoke;

}

footer
p{

    font-size:
14px;

}